@media (max-width: 1600px) {
    .container {
        padding: 0 50px;
    }

    .header {
        margin-bottom: 40px;
    }

    .nav {
        display: none;
    }

    .burger {
        padding: 0;
        display: block;
        position: relative;
        width: 30px;
        height: 23px;
        border: none;
        color: #000;
        background-color: transparent;
        cursor: pointer;
    }

    .burger-line {
        position: absolute;
        width: 30px;
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        background-color: currentColor;
    }

    .burger-line:first-child {
        top: 0;
    }

    .burger-line:nth-child(3) {
        bottom: 0;
    }

    .burger-line:nth-child(2) {
        top: 44%;
    }

    .header__logo {
        width: 150px;
        height: 48px;
    }
    
    .pagination {
        padding: 160px 77px;
    }

    .pagination__title {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 16px;
    }

    .pagination__descr {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 60px;
    }

    .pagination {
        margin-bottom: 35px;
    }

    .about-us__top {
        margin-bottom: 60px;
    }

    .flex__about-us {
        flex-direction: column;
    }

    .about-us__left_back {
        width: 100%;
        height: 640px;
        background-size: cover;
    }

    .about-us__btn  {
        padding: 18px 35px;
    }

    .about-us__card {
        padding-left: 317px;
        width: 100%;
        background-position: 77px 65px;
    }

    .how-we-work__flex {
        margin-top: 49px;
    }

    .how-we-work__indent {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .how-we-work__left {
        min-width: calc((100% - 50px) / 2);
        margin-right: 50px;
    }

    .how-we-work__slider-descr {
        margin-bottom: 24px;
    }

    .how-we-work__right {
        min-width: calc((100% - 50px) / 2);
        background-size: cover;
        background-position: center;
    }

    .faq {
        margin-bottom: 80px;
    }

    .faq__title-item {
        font-size: 20px;
        line-height: 26px;
        padding: 39px 150px 39px 0;
    }

    .footer {
        padding: 50px;
    }

    .footer__right {
        display: none;
    }

    .footer__button {
        padding: 19px 38px;
        font-size: 16px;
        width: 241px;
    }

    .footer__button {
        margin-right: 20px;
    }

    .footer__checkbox {
        min-width: 277px;
    }
}

@media (max-width: 1024px) {
    .header__container {
        height: 69px;
    }

    .pagination {
        padding: 160px 40px;
    }

    .pagination__title {
        font-size: 50px;
        line-height: 61px;
    }

    .pagination__descr {
        font-size: 18px;
        line-height: 22px;
    }

    .about-us__left_back {
        background-position: center;
    }

    .about-us__left_over {
        padding: 34px 40px;
    }

    .about-us__left_descr {
        max-width: 366px;
    }

    .about-us__card {
        padding: 35px 40px 35px 170px;
        background-size: 114px 99px;
        background-position-x: 40px;
    }

    .about-us__card-text {
        max-width: 660px;
    }

    .how-we-work__indent ul {
        justify-content: space-between;
    }

    .how-we-work__flex {
        flex-direction: column-reverse;
    }

    .how-we-work__right {
        min-height: 284px;
        margin-bottom: 38px;
    }

    .how-we-work__left {
        min-width: 100%;
    }

    .how-we-work__indent {
        margin-bottom: 57px;
    }

    .faq {
        margin-bottom: 111px;
    }

    .faq__item {
        min-height: 110px;
    }

    .faq__title-item {
        padding: 33px 98px 30px 0;
        line-height: 29px;
    }

    .footer__links {
        display: none;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer_input {
        max-width: 540px;
    }

    .footer__center {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .header__logo {
        width: 110px;
        height: 35px;
    }

    .header {
        margin-bottom: 30px;
    }

    .pagination {
        border-radius: 16px;
        padding: 60px 22px;
        text-align: center;
        margin-bottom: 59px;
    }

    .pagination__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 6px;
    }

    .pagination__descr {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 32px;
    }

    .pagination__btn {
        padding: 13px 28px;
        font-size: 12px;
        line-height: 17px;
    }

    .flex__about-us {
        gap: 0;
    }

    .about-us__title {
        font-size: 24px;
        line-height: 29px;
    }

    .about-us__descr {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .about-us__left_back {
        min-height: 200px;
        max-height: 200px;
        border-radius: 16px;
        margin-bottom: 8px;
    }

    .about-us__top {
        margin-bottom: 0;
    }

    .about-us__left_over {
        display: none;
    }

    .about-us__hidden {
        display: block;
    }

    .about-us__left_descr {
        color: #000;
        font-weight: 400;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 28px;
    }

    .about-us__btn {
        color: #FF9900;
        padding: 8px 42px;
        border: 2px solid #FF9900;
        font-size: 12px;
        border-radius: 8px;
        margin-bottom: 31px;
    }

    .about-us__card {
        padding: 0;
        padding-top: 62px;
        outline: none;
        background-position-x: 0px;
        background-position-y: 0px;
        background-size: 64px 55px;
    }

    .about-us__card-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4px;
    }

    .about-us__card-text {
        font-size: 14px;
        line-height: 28px;
    }

    .how-we-work__main-title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .how-we-work__indent {
        margin-top: 59px;
    }

    .how-we-work__item {
        font-size: 14px;
    }

    .how-we-work__btn-offset:not(:last-child) {
        margin-right: 0px;
    }
    
    .how-we-work__flex {
        margin-top: 11px;
    }
    
    .how-we-work__right {
        min-height: 160px;
        margin-bottom: 15px;
    }

    .how-we-work__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    .how-we-work__slider-descr {
        font-size: 14px;
        line-height: 28px;
    }

    .how-we-work__btn {
        padding: 12px 44px;
        font-size: 12px;
        border-radius: 8px;
        margin-right: 30px;

    }

    .how-we-work__second-button {
        padding: 12px 32px;
        font-size: 12px;
        border-radius: 8px;
        line-height: 13px;
    }

    .how-we-work__indent {
        margin-bottom: 63px;
    }

    .faq {
        margin-bottom: 58px;
    }

    .faq__item {
        background-size: 30px 30px;
    }

    .faq__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 16px;
    }

    .faq__title-item {
        padding: 29px 53px 30px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .footer {
        padding: 33px 15px 31px 15px;
    }

    .footer__center {
        margin-bottom: 18px;
        align-items: center;
    }

    .footer__center-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .footer__center-buttons {
        flex-direction: column;
        position: relative;
    }

    .footer__center-buttons::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #414141;
        bottom: -16px;
        left: 0;
    }

    .footer_input {
        padding-left: 20px;
        width: 100%;
    }

    .footer_input::placeholder {
        font-size: 14px;
    } 

    .footer__button {
        padding: 12px 28px;
        border-radius: 8px;
        font-size: 12px;
        width: 180px;
        margin-right: 0;
        margin-bottom: 13px;
    }

    .footer_form {
        align-items: center;
        margin-bottom: 25px;
        width: 100%;
    }

    .footer__left {
        align-items: center;
        width: 100%;
    }

    .footer-logo {
        width: 131px;
        margin-bottom: 0;
    }

    .footer__social-link svg,
    .footer__social-link {
        width: 40px;
        height: 40px;
    }

    .footer__social-link:not(:last-child) {
        margin-right: 16px;
    }
}

@media (max-width: 450px) {
    .how-we-work__buttons {
        justify-content: space-between;
    }
}